<%- include ('./templates/_header.ejs', { title: 'Config'} ); %>
<body>
    <%- include('./templates/_topBar.ejs', { title: 'Configure Server' }); %>
    <%- include('./templates/_sidePanel.ejs'); %>

    <div class="config-committee template" data-name="committee" data-route="committee">
        <svg class="config-lock locked" data-route="locked" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
        </svg>
        <svg class="config-lock disabled unlocked" data-route="unlocked" style="display: none;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
        </svg> 
        <p class="config-text" data-route="name"></p>
    </div>                 
    
    <div class="container">
        <div class="box-container-grow">
            <p class="form-label">Access Code</p>
            <% if (accessCode) { %>
                <input class="full input item" type="text" name="accessCode" id="accessCode" placeholder="Access Code" value="<%= accessCode %>">
            <% } else { %>
                <input class="full input item" type="text" name="accessCode" id="accessCode" placeholder="Access Code">
            <% } %>
            <p class="form-label">Admin Code</p>
            <% if (adminCode) { %>
                <input class="full input item" type="text" name="adminCode" id="adminCode" placeholder="Admin Code" value="<%= adminCode %>">
            <% } else {%>
                <input class="full input item" type="text" name="adminCode" id="adminCode" placeholder="Admin Code">
            <% } %>
            <button class="full button item" id="save">Save</button>
        </div>
    </div>

    <div class="container">
        <div class="box-container-grow grow-with-max" id="committees">
            <p class="config-label">Unlock Committee Sessions</p>
            <% for (const committee of committees) { %>
                <div class="config-committee" id="<%= committee.id %>">
                    <% if (committee.sessionModerator) { %>
                        <svg class="config-lock locked" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                        </svg>
                        <svg class="config-lock disabled unlocked" style="display: none;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                        </svg> 
                    <% } else { %>
                        <svg class="config-lock locked" style="display: none;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                        </svg>
                        <svg class="config-lock disabled unlocked" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                        </svg> 
                    <% } %>
                    <p class="config-text"><%= committee.name %></p>
                </div>                 
            <% } %>
        </div>
    </div>

    <div class="container">
        <div class="box-container-grow">
            <div class="download-div">
                <p class="config-label">Server Logs</p>
                <a href="/logs.prism" class="config-download">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>  
                </a>
            </div>

            <div class="logs" id="logs"></div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/notification.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/serverLogs.js"></script>
</body>
</html>