<%- include ('../templates/_header.ejs', { title: 'Session'} ); %>
<% const c = committee.countries.filter((c) => c.attendance != 'A'); %>
<body>
    <!-- <Templates> -->
    <div class="country template" data-name="country" data-route="country">         
        <img data-route="flag">
        <p data-route="name"></p>
    </div>

    <div class="motion template" data-name="custom">
        <p class="motion-input-label" data-route="title">Custom Caucus</p>
        <svg class="motion-x" data-route="delete" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
        <div class="motion-country">
            <img src="/global/flags/xx.png" data-route="flag">
            <p data-route="name"></p>
        </div>
        <p class="motion-text" data-route="topic"></p>
        <p class="motion-text" data-route="duration"></p>
        <div class="border"></div>
    </div>

    <div class="motion template" data-name="unmod">
        <p class="motion-input-label" data-route="title">Unmoderated Caucus</p>
        <svg class="motion-x" data-route="delete" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
        <div class="motion-country">
            <img src="/global/flags/xx.png" data-route="flag">
            <p data-route="name"></p>
        </div>
        <p class="motion-text" data-route="duration"></p>
        <div class="border"></div>
    </div>

    <div class="motion template" data-name="mod">
        <p class="motion-input-label" data-route="title">Moderated Caucus</p>
        <svg class="motion-x" data-route="delete" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
        <div class="motion-country">
            <img src="/global/flags/xx.png" data-route="flag">
            <p data-route="name"></p>
        </div>
        <p class="motion-text" data-route="topic"></p>
        <p class="motion-text" data-route="duration"></p>
        <p class="motion-text" data-route="speakingTime"></p>
        <p class="motion-text" data-route="speakers"></p>
        <div class="border"></div>
    </div>
    <!-- </Templates> -->

    <div class="session">
        <div class="top-bar">
            <% if (!committee.agenda) { %>
                <p class="top-bar-text" id="agenda">Agenda: None Set</p>
            <% } else { %>
                <p class="top-bar-text" id="agenda">Agenda: <%= committee.agenda %></p>
            <% } %>
            <div class="session-navbar-attendance">
                <div class="attendance-container">
                    <img class="session-navbar-attendance-img" src="/img/oneHalf.png" alt="">
                    <% if (c.length == 0) { %>
                        <p id="half">0</p>
                    <% } else { %>
                        <p id="half"><%= Math.floor(c.length / 2) + 1 %></p>
                    <% } %>
                </div>
                <div class="attendance-container">
                    <img class="session-navbar-attendance-img" src="/img/twoThirds.png" alt="">
                    <p id="twoThirds"><%= Math.ceil(c.length * 2 / 3) %></p>
                </div>
                <div class="attendance-container">
                    <img class="session-navbar-attendance-img" src="/img/all.png" alt="">
                    <p id="all"><%= c.length %></p>
                </div>
            </div>
        </div>

        <div class="session-page" id="session-page">
            <div class="gsl-container" style="display: none;" id="gsl">
                <div class="speakers-list-container">
                    <p class="add-speakers-text" id="total-speakers">Speakers List</p>
                    <p class="gsl-time" id="time">01:00 / 01:00</p>
                    <div class="speakers-list-buttons">
                        <button class="gsl-button gsl-gray" id="settings">
                            <svg class="gsl-button-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" />
                            </svg>              
                        </button>
                        <button class="gsl-button gsl-blue" id="play">
                            <svg class="gsl-button-img" id="play-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                            </svg>
                            <svg class="gsl-button-img" id="pause-img" style="display: none;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
                            </svg>                                        
                        </button>
                        <button class="gsl-button gsl-purple" id="reset">
                            <svg class="gsl-button-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                            </svg>            
                        </button>
                        <button class="gsl-button gsl-orange" id="next">
                            <svg class="gsl-button-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
                            </svg>              
                        </button>
                    </div>
                    <div class="speakers-list" id="selected-countries"></div>
                </div>
                <div class="add-speakers">
                    <p class="add-speakers-text">Add Speakers</p>
                    <input class="add-speakers-search" type="text" name="search" id="search-gsl" placeholder="&#x1F50E;&#xFE0E; Search">
                    <div class="add-speakers-countries" id="unselected-countries"></div>
                </div>
            </div>

            <div class="motions-container" style="display: none;" id="motion">
                <div class="motion-submitting-country" id="submitting-country" style="display: none;">
                    <p class="motion-input-label">Submitting Country</p>
                    <div class="submitting-country-container">
                        <input class="motion-input" type="text" name="" id="submitting-country-input" placeholder="&#x1F50E;&#xFE0E; Country">
                        <div class="motion-country">
                            <img src="/global/flags/xx.png" id="submitting-country-img">
                            <p id="submitting-country-text"></p>
                        </div>
                    </div>
                </div>
                <div class="motions">
                    <div class="motion-buttons">
                        <button class="motion-vote-pass" id="pass">Pass</button>
                        <button class="motion-vote-fail" id="fail">Fail</button>
                    </div>
                    <div id="motions"></div>
                </div>
                <div class="motion-creator">
                    <div class="motion-nav">
                        <button class="motion-nav-button" data-page="mod-page">Mod</button>
                        <button class="motion-nav-button" data-page="unmod-page">Unmod</button>
                        <button class="motion-nav-button" data-page="custom-page">Custom</button>
                    </div>
                    <div class="motion-page" id="mod-page" style="display: none;">
                        <p class="motion-input-label">Topic</p>
                        <input class="motion-input" type="text" id="mod-topic" placeholder="Topic">
                        <p class="motion-input-label">Duration</p>
                        <input class="motion-input" type="number" id="mod-dur-min" placeholder="Minutes">
                        <input class="motion-input" type="number" id="mod-dur-sec" placeholder="Seconds">
                        <p class="motion-input-label">Speaking Time</p>
                        <input class="motion-input" type="number" id="mod-st-min" placeholder="Minutes">
                        <input class="motion-input" type="number" id="mod-st-sec" placeholder="Seconds">
                        <button class="motion-button" id="submit-mod">Submit</button>
                    </div>
                    <div class="motion-page" id="unmod-page" style="display: none;">
                        <p class="motion-input-label">Duration</p>
                        <input class="motion-input" type="number" id="unmod-min" placeholder="Minutes">
                        <input class="motion-input" type="number" id="unmod-sec" placeholder="Seconds">
                        <button class="motion-button" id="submit-unmod">Submit</button>
                    </div>
                    <div class="motion-page" id="custom-page" style="display: none;">
                        <p class="motion-input-label">Topic</p>
                        <input class="motion-input" type="text" id="custom-topic" placeholder="Topic">
                        <p class="motion-input-label">Duration</p>
                        <input class="motion-input" type="number" id="custom-min" placeholder="Minutes">
                        <input class="motion-input" type="number" id="custom-sec" placeholder="Seconds">
                        <button class="motion-button" id="submit-custom">Submit</button>
                    </div>
                </div>
            </div>

            <p id="mod" style="display: none;"></p>

            <div class="unmod-container" style="display: none;" id="unmod">
                <div class="unmod">
                    <p class="unmod-time" id="unmod-time">01:00 / 01:00</p>
                    <div class="unmod-buttons">
                        <button class="unmod-button gsl-gray" id="unmod-settings">
                            <svg class="unmod-button-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" />
                            </svg>              
                        </button>
                        <button class="unmod-button gsl-blue" id="unmod-play">
                            <svg class="unmod-button-img" id="unmod-play-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                            </svg>
                            <svg class="unmod-button-img" id="unmod-pause-img" style="display: none;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
                            </svg>                                        
                        </button>
                        <button class="unmod-button gsl-purple" id="unmod-reset">
                            <svg class="unmod-button-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                            </svg>            
                        </button>
                    </div>
                </div>
            </div>

            <p id="voting" style="display: none;">Voting</p>
        </div>

        <svg class="side-panel" id="open-side-panel" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        <div class="side-panel-closed" id="side-panel">
            <div class="side-panel-header-container">
                <img src="/img/MUN_PRISM.png" style="width: 2vw; height: 2vw;" alt="">
                <p class="side-panel-header">PRISM</p>   
            </div>
            <svg class="side-panel-internal" id="close-side-panel" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
            
            <a class="side-panel-element" href="/">
                <svg class="side-panel-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                <p class="side-panel-text">Home</p>
            </a>
            <a class="side-panel-element" href="/session/<%= committee.id %>/setup">
                <svg class="side-panel-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" />
                </svg>  
                <p class="side-panel-text">Setup</p>   
            </a>  
            <button class="side-panel-element" id="roll-call">
                <svg class="side-panel-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>  
                <p class="side-panel-text">Roll Call</p>                
            </button>
            <button class="side-panel-element" id="set-agenda">
                <svg class="side-panel-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                </svg>      
                <p class="side-panel-text">Agenda</p>            
            </button>
        </div>
        <div class="side-panel-cover" id="side-panel-cover" style="display: none;"></div>

        <div class="session-navbar" id="session-navbar">
            <!-- General Speaker's List -> Microphone -->
            <div class="session-navbar-element btn" data-id="gsl">
                <svg class="session-navbar-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z" />
                </svg>
                <p class="session-navbar-text">GSL</p>
            </div>
            
            <!-- Motions -> Hand Raised -->
            <div class="session-navbar-element btn" data-id="motion">
                <svg class="session-navbar-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.05 4.575a1.575 1.575 0 1 0-3.15 0v3m3.15-3v-1.5a1.575 1.575 0 0 1 3.15 0v1.5m-3.15 0 .075 5.925m3.075.75V4.575m0 0a1.575 1.575 0 0 1 3.15 0V15M6.9 7.575a1.575 1.575 0 1 0-3.15 0v8.175a6.75 6.75 0 0 0 6.75 6.75h2.018a5.25 5.25 0 0 0 3.712-1.538l1.732-1.732a5.25 5.25 0 0 0 1.538-3.712l.003-2.024a.668.668 0 0 1 .198-.471 1.575 1.575 0 1 0-2.228-2.228 3.818 3.818 0 0 0-1.12 2.687M6.9 7.575V12m6.27 4.318A4.49 4.49 0 0 1 16.35 15m.002 0h-.002" />
                </svg>  
                <p class="session-navbar-text">Motions</p>
            </div>

            <div class="session-navbar-element btn" data-id="mod">
                <svg class="session-navbar-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                </svg>
                <p class="session-navbar-text">Mod</p>
            </div>

            <div class="session-navbar-element btn" data-id="unmod">
                <svg class="session-navbar-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                </svg>
                <p class="session-navbar-text">Unmod</p>
            </div>
            
            <!-- Voting -> Thumbs Up-->
            <div class="session-navbar-element btn" data-id="voting">
                <svg class="session-navbar-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
                </svg> 
                <p class="session-navbar-text">Voting</p>
            </div>
        </div>
    </div>
    <script>let committee = <%- JSON.stringify(committee) %>;</script>
    <script>let countries = committee.countries.filter((country) => country.attendance != 'A');</script>
    <script src="/js/popup.js"></script>
    <script src="/js/notification.js"></script>
    <script src="/js/session/sidePanel.js"></script>
    <script src="/js/session/countrySelection.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/session/setAgenda.js"></script>
    <script src="/js/session/timer.js"></script>
    <script src="/js/session/navbar.js"></script>
    <script src="/js/session/search.js"></script>
    <script src="/js/session/gsl.js"></script>
    <script src="/js/session/motions.js"></script>
    <script src="/js/session/unmod.js"></script>

    <!-- HAS to be last because it reloads scripts that rely on country attendance -->
    <script src="/js/session/rollCall.js"></script>
</body>
</html>